.pihanga-paste-target {
  border: dashed 2px var(--border);

  .paste-target-msg-title {
    font-size: 1.2em;
  }

  textarea:focus {
    /* Remove the default focus outline for a cleaner look */
    outline: none;
  }
}

.pihanga-paste-target-focused {
  /* Change the border color to highlight the active element */
  border-color: var(--ring);
  border-width: 3px;

  .paste-target-focus-reminder {
    display: none;
  }
}