.pihanga-paste-target {

  border: dashed 2px #999;

  .paste-target-msg-title {
    font-size: 1.2em
  }

  .paste-target-label {
    position: absolute;

    /* Stretch the child to cover the parent entirely */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  textarea {
    position: absolute;

    /* Stretch the child to cover the parent entirely */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* Ensure the child is visually stacked above the parent's content */
    z-index: 10;

    cursor: pointer;
  }

  textarea:focus {
    cursor: copy;

    /* Remove the default focus outline for a cleaner look (optional but common) */
    outline: none;
  }
}

.pihanga-paste-target-focused {
  /* Change the border color to highlight the active element */
  border-color: #007bff;
  border-width: 3px;

  .paste-target-focus-reminder {
    display: none
  }
}