.pi-file-drop-root label {
  max-width: 100%;
  border: dashed 2px var(--border);

  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.pi-file-drop-root .dropzone-msg {
  cursor: pointer;
  text-align: center;
  margin: 3em 0;
  flex-grow: 4;
}

/*** PROGRESS ***/

.pi-file-drop-root .pi-progress {
  max-width: 100%;
  padding: 1.25em;
}

.pi-file-drop-root .pi-progress-label {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.pi-file-drop-root.pi-progress-container {
  position: relative;
  display: flex;
  height: 1rem;
  overflow: hidden;
  border-radius: var(--radius-sm);
  background-color: var(--muted);
}

.pi-file-drop-root .pi-progress-bar {
  background-color: var(--primary);
  color: var(--primary-foreground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.pi-file-drop-root .pi-progress .label {
  font-size: 1em;
  display: block;
}